.border-radius-5 div {
    border-radius: 2rem !important;
    -webkit-border-radius: 2rem !important;
    -moz-border-radius: 2rem !important;
    -ms-border-radius: 2rem !important;
    -o-border-radius: 2rem !important;
}